<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/community.css">
    <title>Message</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    
    <% if (user._id === messageUserId) { %>
    <h1><%=username%>'s messages</h1>
    <h3>View your latest messages</h3>
    <% }; %>
    <% messages.forEach(message => { %>
        <% if (message.target === user._id) { %>
             <a href="/community/<%=message.sessionUserId%>/message/<%=user._id%>"><%=message.username%><a>
        <% } else { %>
        <a href="/community/<%=message.target%>/message/<%=user._id%>"><%=message.targetUsername%></a>
   <% }  });  %>

</body>
</html>