<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/community.css">
    <title><%=username%>'s log</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <% function capitalizeFirstLetter(string) { return string.charAt(0).toUpperCase() + string.slice(1); %>
    <%} %>
    <h1><%=capitalizeFirstLetter(username)%>'s virtual travel log</h1>
    <% if (user) {  %>
    <h3><a href="/community/<%=userId%>/message/<%=user._id%>">Message <%=username%></a></h3>
<%}%>
    <% if (destinations.length===0) { %>
        <p>They currently have no destinations!</p>
        <% } else { %>
            <h2> Vistited Locations</h2>
            <% destinations.forEach(location=> { %>
                <%if (location.hasBeen===true) { %>
                    <ul>
                        <li>Country: <%=location.country%>
                        </li>
                        <li>Place: <%=location.place%>
                        </li>
                        <% if (location.review) { %>
                            <p> Review: </p> 
                            <p><%=location.review%></p>
                         <% } %>
                         <% if (location.rating) { %>
                            <p> Rating: <%=location.rating%>⭐️</p>
                         <% } %>
                    </ul>
                    <% } %>
                        <% }); %>

                            <h2> Dream Locations</h2>
                            <% destinations.forEach(location=> { %>
                                <%if (location.hasBeen===false) { %>
                                    <ul>
                                        <li>Country: <%=location.country%>
                                        </li>
                                        <li>Place: <%=location.place%>
                                        </li>
                
                                    </ul>
                                    <% } %>
                                        <% }); %>
                                            <% } %>
        

</body>
</html>