<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/edit-add.css">
    <title>Edit <%=destination.name%></title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <div class="content">
    <h1> Edit This Location</h1>
    <form action="/travel/<%=user._id%>/edit/<%=locationId%>?_method=PUT" method="POST">
        <label for="country">Country:</label>
        <input type="text" name="country" id="country" value="<%=destination.country%>" required>
        <label for="place">Place:</label>
        <input type="text" name="place" id="place" value="<%=destination.place%>" required>
       
        <% if (destination.hasBeen) { %>
            <label for="hasBeen">Vistited</label>
        <input type="checkbox" name="hasBeen" id="hasBeen" checked/>

            <label for="review">Review:</label>
            <textarea for="text" name="review" id="review" ><%=destination.review%></textarea>
            
            <label for="rating">Rating:</label>
            <input type="text" name="rating" id="rating" value="<%=destination.rating%>">
            <%} else { %>
                <label for="hasBeen">Vistited</label>
                <input type="checkbox" name="hasBeen" id="hasBeen" />
                <% }%>
            <button type="submit">Update Location</button>
        </form>
    </div>
</body>
</html>