<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/travel.css">
    <title><%=user.username%>'s log</title>
</head>

<body>
    <%- include('../partials/nav.ejs') %>
    <% function capitalizeFirstLetter(string) { return string.charAt(0).toUpperCase() + string.slice(1); %>
        <%} %>
        <h1><%=capitalizeFirstLetter(user.username)%>'s log</h1>
        <form action="/travel/<%=user._id%>/shareyourtravel?_method=PUT" method="POST">
            <label for="shareYourTravel">Share your travel with others:</label>
            <% if (user.shareYourTravel) { %>
            <input type="checkbox" name="shareYourTravel" id="shareYourTravel" checked>
            <% } else { %>
                <input type="checkbox" name="shareYourTravel" id="shareYourTravel">
                <% } %>
            <button type="submit">Update Sharing preference</button>
        </form>

        <a id="add" href="/travel/<%=user._id%>/add">Add new locations</a>

        <% if (destinations.length===0) { %>
            <p>You currently have no destination lets add some!</p>
            <% } else { %>
                <h2> Vistited Locations</h2>
                <% destinations.forEach(location=> { %>
                    <%if (location.hasBeen===true) { %>
                        <ul>
                            <li>Country: <%=location.country%>
                            </li>
                            <li>Place: <%=location.place%>
                            </li>
                            <% if (location.review) { %>
                                <p id="review"> Review:<br> <%=location.review%> </p>
                            
                                <% } %>
                                    <% if (location.rating) { %>
                                        <p> Raiting: <%=location.rating%>⭐️</p>
                                        <% } %>
                                            <a id="edit" href="/travel/<%=user._id%>/edit/<%=location._id%>">Edit Location</a>
                                            <form action="/travel/<%=location._id%>?_method=DELETE" method="POST">
                                                <button type="submit">Delete</button>
                                            </form>



                        </ul>
                        <% } %>
                            <% }); %>

                                <h2> Dream Locations</h2>
                                <% destinations.forEach(location=> { %>
                                    <%if (location.hasBeen===false) { %>
                                        <ul>
                                            <li>Country: <%=location.country%>
                                            </li>
                                            <li>Place: <%=location.place%>
                                            </li>
                                            <a href="/travel/<%=user._id%>/edit/<%=location._id%>">Edit Location</a>
                                            <form action="/travel/<%=location._id%>/del?_method=DELETE" method="POST">
                                                <button type="submit">Delete</button>
                                            </form>
                                        </ul>
                                        <% } %>
                                            <% }); %>
                                                <% } %>
                                                

</body>

</html>