<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%- include('../partials/nav.ejs') %>
        <h1> this is a users log</h1>
        <form action="/travel/<%=user._id%>/shareyourtravel?_method=PUT" method="POST">
            <label for="shareYourTravel">Share your travel with others:</label>
            <% if (user.shareYourTravel) { %>
            <input type="checkbox" name="shareYourTravel" id="shareYourTravel" checked>
            <% } else { %>
                <input type="checkbox" name="shareYourTravel" id="shareYourTravel">
                <% } %>
            <button type="submit">Update Sharing preference</button>
        </form>
        <% if (destinations.length===0) { %>
            <p>You currently have no destination lets add some!</p>
            <% } else { %>
                <h2> Vistited Locations</h2>
                <% destinations.forEach(location=> { %>
                    <%if (location.hasBeen===true) { %>
                        <ul>
                            <li>Country: <%=location.country%>
                            </li>
                            <li>Place: <%=location.place%>
                            </li>
                            <% if (location.review) { %>
                                <p> Review: </p>
                                <p>
                                    <%=location.review%>
                                </p>
                                <% } %>
                                    <% if (location.rating) { %>
                                        <p> raiting: <%=location.rating%>⭐️</p>
                                        <% } %>
                                            <a href="/travel/<%=user._id%>/edit/<%=location._id%>">Edit Location</a>
                                            <form action="/travel/<%=location._id%>?_method=DELETE" method="POST">
                                                <button type="submit">Delete</button>
                                            </form>



                        </ul>
                        <% } %>
                            <% }); %>

                                <h2> Dream Locations</h2>
                                <% destinations.forEach(location=> { %>
                                    <%if (location.hasBeen===false) { %>
                                        <ul>
                                            <li>Country: <%=location.country%>
                                            </li>
                                            <li>Place: <%=location.place%>
                                            </li>
                                            <a href="/travel/<%=user._id%>/edit/<%=location._id%>">Edit Location</a>
                                            <form action="/travel/<%=location._id%>/del?_method=DELETE" method="POST">
                                                <button type="submit">Delete</button>
                                            </form>
                                        </ul>
                                        <% } %>
                                            <% }); %>
                                                <% } %>
                                                    <a href="/travel/<%=user._id%>/add">Add new locations</a>

</body>

</html>